body {
	background: #000;
    color: white;
    text-align: center;
}

a{
    font-size: 30px;
    color: white;
}

a:hover{
	font-size: 40px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
}

.nucleus {
	width:50px;
	height: 50px;
	border-radius: 50%;
	background: #F00;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	z-index: 2;
	scale: 2;
}

.nucleus.active .menu {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	transition: all 0.5s ease-in-out;
  }
  
  .menu {
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.5);
	transition: all 0.5s ease-in-out;
	background-color: rgba(0, 255, 255, 0.222);
  }

.menu {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .menu li {
	display: inline-block;
	text-align: center;
	margin: 0 20px;
  }

.nucleus:hover{
	background: rgba(0, 255, 255, 0);
	border-radius: 50%;
	transform: rotate(0deg);
	transition: all 0.5s ease-in-out;
}

.orbit {
	margin-top: 50px;
	width: 200px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #f2ff00;
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
	animation: orbit 5s linear infinite;
	scale: 2;
}

.orbit1 {
	animation-duration: 5s;
}

.orbit2 {
	animation-duration: 8s;
}

.orbit3 {
	animation-duration: 10s;
}

.electron {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgba(0, 255, 255, 0);
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	animation: electron 5s linear infinite;
}

.electron1 {
	animation-duration: 5s;
}

.electron2 {
	animation-duration: 8s;
}

.electron3 {
	animation-duration: 10s;
}

@keyframes orbit {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes electron {
	from {
		transform: rotate(0deg) translateX(100px) rotate(0deg);
	}
	to {
		transform: rotate(360deg) translateX(100px) rotate(-360deg);
	}
}
